<%- include('parts/header.ejs') %>

<div style="text-align: center; padding: 20px;">
    <p style="word-break: break-all;"><%= link %></p>
    <img src="<%= qr %>" alt="QR Code" style="max-width: 100%; height: auto;">
    <div style="text-align: center;">
        <img src="https://media1.tenor.com/m/dBQnz4klk64AAAAC/heck-yes-lets-goo.gif" alt="Heck Yes Let's Go" style="max-width: 100%; height: auto;">
    </div></div>
</div>


<%- include('parts/footer.ejs') %>
